<script id="tmpl-ReportHeader" type="text/html">
	<div class="ReportHeader">
		<div class="navbar  navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
		    <a class="brand" href="#">D3JS Demo</a>
		    <ul class="nav">
		      <li data-nav="UserWeightD3Cluster" class="menu active">ContactCluster D3JS</li>
		      <li data-nav="UserWeightEaselJSCluster" class="menu">ContactCluster EaselJS</li>
		      <li data-nav="ForceDirectedEaselJSCluster" class="menu">ContactCluster Force-Directed</li>
		    </ul>
		  </div>
		</div>
	</div>
</script>