<script id="tmpl-UserWeightEaselJSCluster" type="text/html">
	<div class="UserWeightEaselJSCluster">
		<div class="UserWeightEaselJSClusterContainer">
		  <canvas id="userWeightCanvas" width="1000" height="1000"></canvas>
		</div>
	</div>
</script>


